<section class="bg-url('/assets/images/contact/worldmap.png')">
  <div class="container mx-auto">
    <div class="mx-12 text-center">
      <h3 class="text-4xl text-violet-900 font-black">Having an idea? Tell us and immediately start</h3>
      <p class="text-slate-600 font-medium">
        Send us an email to
        <a
          href="mailto:geneat.soft@gmail.com"
          class="text-indigo-800 hover:text-indigo-600"
          >geneat.soft@gmail.com</a
        >
        or fill this form, we will reply you within 1 hour Your contact:
      </p>
    </div>
  </div>
</section>
